# IntelliJ project files
.idea
out
gen
.DS_Store
.gitignore
/admin/prayer.script.php
/admin/prayer.xml
/admin/cwmprayer.script.php
/admin/cwmprayer.xml
/build/packages/
/docs/
/libraries/vendor/
admin/logs/
bin/
